aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.2
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
colorama==0.4.4
discord.py==2.0.0a3112+g42bab370
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
lxml==4.6.3
multidict==5.1.0
numpy==1.18.4
opencv-python==4.2.0.34
parsedatetime==2.6
playsound==1.2.2
psutil==5.8.0
pycodestyle==2.6.0
pycparser==2.20
pygame==1.9.6
pygit2==1.5.0
pymongo==3.10.1
pypiwin32==223
python-dateutil==2.8.1
python-dotenv==0.17.1
pywin32==227
rfc3986==1.5.0
selenium==3.141.0
six==1.16.0
sniffio==1.2.0
typing-extensions==3.10.0.0
urllib3==1.26.3
win10toast==0.9
yarl==1.6.3
